.home {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__form-container {
    width: 75%;
    max-width: 50em;
    & mat-form-field {
      margin-right: 1em;
    }
  }
  &__container-table {
    width: 75%;
    height: 75vh;
    max-width: 60em;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  &__data-table {
    width: 100%;
    & mat-icon {
      cursor: pointer;
    }
  }
  &__add-button {
    width: 2.5em;
    height: 2.5em;
    position: relative;
    top: .5em;
    left: 1em;
    & .material-icons {
      margin-top: -.75em;
      font-size: 1.5em;
    }
  }
  &__exit-button {
    width: 2.5em;
    height: 2.5em;
    position: relative;
    top: .5em;
    left: 3em;
    & .material-icons {
      margin-top: -.75em;
      font-size: 1.5em;
    }
  }
}